<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Woops!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h2 style="text-shadow: 2px 2px 4px #0000FF;">404 Not Found.</h2>

	<img src="https://images.emojiterra.com/twitter/512px/1f914.png" alt="thinking face emoji" style="display: block;margin-left: auto;margin-right: auto;width: 10%;">

    <p style="margin-left: 3px; text-align: center;">
      We couldn't find the page that you were looking for
    </p>
	
  </body>
</html>