<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>It works!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h2>It works!</h2>
    <p style="margin-left: 3px">
      Now it's the time that we pretend there's a nice default webpage from a
      nice webserver here ;)
    </p>
    <br />
    <p>Useful links:</p>
    <ul>
      <li><a href="https://example.com">About</a></li>
      <li><a href="mailto:m.bluth@example.com">Contact</a></li>
    </ul>
  </body>
</html>